<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>createwishidea</title>
    <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>

<div class="header">
    <div class="header-text">
        <a th:href="@{/}">
            <img th:src="@{'/img/gavehead.jpeg'}" id="icon" alt="Home Icon">
        </a>
        <h1>Gavelisten</h1>
    </div>
</div>


<div class="container">
    <div class="form-container">
        <h2>Opret ny gaveidé</h2>
        <form th:action="@{/saveCreateWishidea}" method="post">
            <input type="hidden" name="wishlist_id" th:value="${param.wishlist_id}" />

            <label for="title">Titel</label>
            <input id="title" name="title" type="text" required>

            <label for="description">Beskrivelse</label>
            <input id="description" name="description" type="text" required>

            <label for="price">Pris (DKK)</label>
            <input id="price" name="price" type="number" step="0.01" min="0">

            <button type="submit">Lav gaveidé</button>
        </form>
    </div>
</div>

<div class="footer">
    <p>Kontakt os!</p>
    <p>Gavelisten@stud.kea.dk</p>

</div>
</body>
</html>