<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>MainPage</title>
    <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>

<div class="header">
    <div class="header-text">
        <a th:href="@{/}">
            <img th:src="@{'/img/Home_icon.JPG'}" id="icon" alt="Home Icon">
        </a>
        <h1>Gave listen</h1>
    </div>
</div>


<div class="container">
    <div class="form-container">
        <h2>Create Wish Idea</h2>
        <form th:action="@{/saveCreateWishidea}" method="post">
            <input type="hidden" name="wishlist_id" th:value="${wishlist_id}" />
            <label for="title">Title</label>
            <input id="title" name="title" type="text">

            <label for="description">Beskrivelse</label>
            <input id="description" name="description" type="text">

            <button type="submit">Lav ønske ide</button>
        </form>
    </div>
</div>

<div class="footer">
    <p>Kontakt os!</p>
    <p>Gavelisten@stud.kea.dk</p>

</div>
</body>
</html>