<!-- Kommer fra Login -->
<!-- Skal sendes til userPage -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>createUser</title>
  <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>

<div class="header">
  <div class="header-text">
    <a th:href="@{/}">
      <img th:src="@{'/img/Home_icon.JPG'}" id="icon" alt="Home Icon">
    </a>
    <h1>Gavelisten</h1>
  </div>
</div>



<div class="container">
  <div class="form-container">
    <h2>Opret ny bruger</h2>
    <form th:action="@{/createUser}" method="post">
      <label for="name">Brugernavn:</label>
      <input type="text" id="name" name="name" placeholder="Indtast dit ønskede brugernavn her" required>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" placeholder="Indtast dit ønskede password her" required>

      <button type="submit">Lav bruger</button>
    </form>
  </div>
</div>

<!-- Username findes allerede, printer en error ud.-->
<div th:if="${error}" class="error">
  <p th:text="${error}"></p>
</div>


<div class="footer">
  <p>Kontakt os!</p>
  <p>Gavelisten@stud.kea.dk</p>

</div>
</body>
</html>