<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>friendsWishList</title>
    <link rel="stylesheet" th:href="@{style.css}">
</head>
<body class="friendspage">

<div class="header">
    <div class="header-text">
        <a th:href="@{/}">
            <img th:src="@{'/img/gavehead.jpeg'}" id="icon" alt="Home Icon">
        </a>
        <h1>Gavelisten</h1>
    </div>
</div>

<div>
    <h1 class="main-title friendspage-heading" th:text="'Her ser du ' + ${user.name} + 's ønskelister'">Her ser du Marias ønskelister.</h1>
</div>

<div class="container">
    <div class="square" th:each="wishlist : ${wishListing}" th:data-id="${wishlist.id}">
        <img th:src="@{'/img/'+${wishlist.img}}" alt="Wish image"/>
        <div>
            <span class="wishlist-name" th:text="${wishlist.name}">navn</span>
        </div>
    </div>
</div>

<form th:action="@{/showFriendsWishbyWishList_id}" method="get" class="modify-form" id="wishUpdateForm" style="display:none;">
    <input type="number" name="id" id="wishIdInput" required>
</form>

<script>
    document.querySelectorAll('.square').forEach(function(square) {
        square.addEventListener('click', function() {
            var wishId = this.getAttribute('data-id');
            document.getElementById('wishIdInput').value = wishId;
            document.getElementById('wishUpdateForm').submit();
        });
    });
</script>

<div class="footer">
    <p>Kontakt os!</p>
    <p>Gavelisten@stud.kea.dk</p>
</div>

</body>
</html>
