<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>friendsWishPage</title>
  <link rel="stylesheet" th:href="@{style.css}">
  <link rel="stylesheet" th:href="@{baggrund.css}">
</head>
<body>

<div class="header">
  <div class="header-text">
    <a th:href="@{/}">
      <img th:src="@{'/img/gavehead.jpeg'}" id="icon" alt="Home Icon">
    </a>
    <h1>Gavelisten</h1>
  </div>
</div>

<h1 class="main-title" th:text="${wishlist.name}">Ønskeliste-navn</h1>

<div class="container">
  <div class="friend_square" th:each="wish : ${wishList}" th:data-id="${wishlist.id}">
    <img th:src="@{'/img/' + ${wish.img}}" alt="Wish image"/>
    <div>
      <label>Navn:</label>
      <span th:text="${wish.name}">Navn</span>
    </div>
    <div>
      <label>Beskrivelse:</label>
      <span th:text="${wish.description}">Beskrivelse</span>
    </div>
    <div>
      <label>Pris:</label>
      <span th:text="${wish.price + ' DKK'}">Pris</span>
    </div>
  </div>
</div>


<h1 class="main-title">Her ser du gaveidéer fra venner til denne ønskeliste</h1>

<div class="container">
  <div class="square" th:each="wishidea : ${wishidealist}" th:data-id="${wishidea.id}">
    <div>
      <label>Navn:</label>
      <span th:text="${wishidea.title}">Title</span>
    </div>
    <div>
      <label>Beskrivelse:</label>
      <span th:text="${wishidea.description}">Description</span>
    </div>
  </div>
</div>

<div class="create-wishidea-btn-container">
  <a th:href="@{/getcreatewishidea(wishlist_id=${wishlist.id})}" class="create-wishidea-btn">
    Opret ønskeidé
  </a>
</div>



<div class="footer">
  <p>Kontakt os!</p>
  <p>Gavelisten@stud.kea.dk</p>
</div>

</body>
</html>
