<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>friendsWishList</title>
    <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>

<div class="header">
    <div class="header-text">
        <a th:href="@{/}">
            <img th:src="@{'/img/Home_icon.JPG'}" id="icon" alt="Home Icon">
        </a>
        <h1>Gave listen</h1>
    </div>
</div>

<div>
    <h1 th:text="${user.name}">Ønskeliste Navn</h1> <h1>Ønske lister</h1>
</div>
<div class="container"  >
    <div class="square" th:each="wishlist:${wishListing}" th:data-id="${wishlist.id}">
        <div>
            <h4 th:text="${wishlist.name}">navn</h4>
        </div>
        <img th:src="@{'/img/'+${wishlist.img}}" alt="Wish awdawdawimage"/>
    </div>

</div>
<form th:action="@{/showFriendsWishbyWishList_id}" method="get" class="modify-form" id="wishUpdateForm" style="display:none;">
    <input type="number" name="id" id="wishIdInput" required>
</form>
<script>
    // Attach click event listener to all square div elements
    document.querySelectorAll('.square').forEach(function(square) {
        square.addEventListener('click', function() {
            // Get the wish idea ID stored in the data-id attribute of the clicked square
            var wishId = this.getAttribute('data-id');

            // Set the value of the hidden input field in the form
            document.getElementById('wishIdInput').value = wishId;

            // Submit the form to trigger the backend action
            document.getElementById('wishUpdateForm').submit();
        });
    });
</script>
<div class="footer">
    <p>Kontakt os!</p>
    <p>Gavelisten@stud.kea.dk</p>

</div>
</body>
</html>