<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>MainPage</title>
    <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>


<div class="container">
    <div class="square" th:each="wishlist : ${wishlist}">
        <img th:src="@{'/img/' + ${wishlist.img}}" alt="Car Image" />
        <div>
            <label>ID:</label>
            <span th:text="${wishlist.id}">ID</span>
        </div>
        <div>
            <label>navn:</label>
            <span th:text="${wishlist.name}">navn</span>
        </div>

    </div>
</div>
</body>
</html>