<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login</title>
  <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>

<div class="header">
  <div class="header-text">
    <a th:href="@{/}">
      <img th:src="@{'/img/Home_icon.JPG'}" id="icon" alt="Home Icon">
    </a>
    <h1>Gavelisten</h1>
  </div>
</div>

<div class="container">
  <div class="form-container">
    <h2>Login</h2>
    <form th:action="@{/login}" th:object="${user}" method="post">
      <label for="username">Brugernavn:</label>
      <input type="text" id="username" name="username" placeholder="Indtast dit brugernavn her" required>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" placeholder="Indtast dit password her" required>


      <div class="button-row">
        <button class="btn" type="submit">Login</button>
        <a th:href="@{/getCreatedUser}">
          <button type="button" class="btn_back">Opret Bruger</button>
        </a>
      </div>
    </form>
  </div>
</div>

<div class="back-btn-container">
  <a th:href="@{/}" style="text-decoration: none;">
    <button class="btn_friends">Tilbage</button>
  </a>
</div>

<div class="footer">
  <p>Kontakt os!</p>
  <p>Gavelisten@stud.kea.dk</p>
</div>

</body>
</html>
