<!-- Kommer fra index. -->
<!-- Skal sendes til userPage -->
<!-- Skal sendes til createUser. -->



<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>LoginPage</title>
  <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>

<h2>Login</h2>
<form class="form1" th:action="@{/login}" th:object="${user}" method="post">
  <input class="input1" type="text" id="username" name="username" placeholder="Brugernavn" required><br>
  <input class="input1" type="password" id="password" name="password" placeholder="Kodeord"  required><br>
  <button class="button1" type="submit">Login</button>
</form>
<br>
<a th:href="@{/getCreatedUser}">
  <button type="submit" class="login_btn">Opret Bruger</button>
</a>
<br>
<a href="/" style="text-decoration: none;">
  <button class="button1">Tilbage til forsiden</button>
</a>


</body>
</html>