<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>MainPage</title>
    <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>

<div class="header">
    <a th:href="@{/}">
        <img th:src="@{'/img/Home_icon.JPG'}" id="icon" alt="Home Icon">
    </a>
</div>



<!-- Example link to the index page -->
<a th:href="@{/}">Go back to the Index Page</a>

<div class="container">
    <div class="square" th:each="wishidea : ${wishideaList}" >
        <div>
            <label>ID:</label>
            <span th:text="${wishidea.id}">ID</span>
        </div>
        <div>
            <label>Brand:</label>
            <span th:text="${wishidea.wishlist_id}">wishlist_id</span>
        </div>
        <div>
            <label>Modelyear:</label>
            <span th:text="${wishidea.user_id}">user_id</span>
        </div>
        <div>
            <label>Type:</label>
            <span th:text="${wishidea.title}">title</span>
        </div>
        <div>
            <label>Color:</label>
            <span th:text="${wishidea.description}">description</span>
        </div>
    </div>

</div>

<div class="footer">
    <p>Kontakt os!</p>
    <p>Gavelisten@stud.kea.dk</p>

</div>
</body>
</html>