<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>MainPage</title>
    <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>

<div class="header">
    <div class="header-text">
        <a th:href="@{/}">
            <img th:src="@{'/img/Home_icon.JPG'}" id="icon" alt="Home Icon">
        </a>
        <h1>Gave listen</h1>
    </div>
</div>


<div>
    <h1 th:text="${wishlist.name}">Ønskeliste Navn</h1>
</div>
<div class="container">
    <div class="square" th:each="wish:${wishList}">
        <img th:src="@{'/img/'+${wish.img}}" alt="Wish image"/>
        <div>
            <label>Name:</label>
            <span th:text="${wish.name}">Name</span>
        </div>
        <div>
            <label>Description:</label>
            <span th:text="${wish.description}">Description</span>
        </div>
    </div>
</div>

<div class="buttons">
    <a th:href="@{/}" class="btn">Back</a>
</div>


<div class="footer">
    <p>Kontakt os!</p>
    <p>Gavelisten@stud.kea.dk</p>

</div>
</body>
</html>
