<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>showWish</title>
  <link rel="stylesheet" th:href="@{style.css}">
  <link rel="stylesheet" th:href="@{baggrund.css}">
</head>
<body>

<div class="header">
  <div class="header-text">
    <a th:href="@{/}">
      <img th:src="@{'/img/gavehead.jpeg'}" id="icon" alt="Home Icon">
    </a>
    <h1>Gavelisten</h1>
  </div>
</div>

<div class="container">
  <div class="square_none_hoover extended-container">
    <img th:src="@{'/img/'+${wish.img}}" alt="Wish image"/>
    <div>
      <label>Navn:</label>
      <span th:text="${wish.name}">Name</span>
    </div>
    <div>
      <label>Beskrivelse:</label>
      <span th:text="${wish.description}">Description</span>
    </div>
    <div>
      <label>Billede:</label>
      <span th:text="${wish.img}">Img</span>
    </div>
    <div>
      <label>Pris:</label>
      <span th:text="${wish.price}">Price</span>
    </div>

    <div class="button-wrapper">
      <a th:href="@{/getUpdateWish(id=${wish.id})}" class="btn">Rediger ønske</a>
    </div>
  </div>

  <!-- Tilbage-knappen placeret korrekt -->
  <div class="back-btn-container">
    <a th:href="@{/wishPage(WishList_id=${wish.wishlist_id})}" class="btn btn-back">Tilbage</a>
  </div>
</div>

<div class="footer">
  <p>Kontakt os!</p>
  <p>Gavelisten@stud.kea.dk</p>
</div>

</body>
</html>
