<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>

<div class="container">
  <div class="form-container">
    <h2>Create a User</h2>
    <form th:action="@{/createUser}" method="post">
      <label for="name">Username:</label>
      <input type="text" id="name" name="name" placeholder="Please enter user name" required>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" placeholder="Please enter password" required>

      <button type="submit">Create user</button>
    </form>
  </div>
</div>


</body>
</html>