<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>updatewishidea</title>
  <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>

<div class="header">
  <div class="header-text">
    <a th:href="@{/}">
      <img th:src="@{'/img/gavehead.jpeg'}" id="icon" alt="Home Icon">
    </a>
    <h1>Gavelisten</h1>
  </div>
</div>


<div class="container">
  <div class="form-container">
    <h2>Opdater gaveidé</h2>
    <form th:action="@{/saveUpdateWishidea}" method="post">
      <input type="hidden" name="id" th:value="${wishidea.id}" />
      <input type="hidden" name="wishlist_id" th:value="${wishidea.wishlist_id}" />

      <label for="title">Title</label>
      <input id="title" name="title" type="text" th:value="${wishidea.title}" required>

      <label for="description">Beskrivelse</label>
      <input id="description" name="description" type="text" th:value="${wishidea.description}" required>

      <button type="submit">Opdater din ønskeidé</button>
    </form>
      <form th:action="@{/deleteWishidea}" method="post" class="modify-form">
        <input type="hidden" name="id" th:value="${wishidea.id}" />
        <input type="hidden" name="wishlist_id" th:value="${wishidea.wishlist_id}" />
        <button type="submit" class="btn">Slet</button>
      </form>
  </div>
</div>

<div class="footer">
  <p>Kontakt os!</p>
  <p>Gavelisten@stud.kea.dk</p>

</div>
</body>
</html>