<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>updateWish</title>
    <link rel="stylesheet" th:href="@{style.css}">
    <link rel="stylesheet" th:href="@{baggrund.css}">
</head>
<body>

<div class="header">
    <div class="header-text">
        <a th:href="@{/}">
            <img th:src="@{'/img/gavehead.jpeg'}" id="icon" alt="Home Icon">
        </a>
        <h1>Gavelisten</h1>
    </div>
</div>

<div class="container">
    <div class="form-container">
        <h2>Rediger dit ønske</h2>
        <img th:src="@{'/img/'+${wish.img}}" alt="Wish image"/>
        <form th:action="@{/saveUpdateWish}" th:object="${wish}" method="post">

            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:name="wishlist_id" th:value="${wish.wishlist_id}" />

            <label for="name">Navn</label>
            <input type="text" id="name" th:field="*{name}" required />

            <label for="description">Beskrivelse</label>
            <input type="text" id="description" th:field="*{description}" required />

            <input type="hidden" th:name="img" th:value="${wish.img}" />

            <label for="price">Pris</label>
            <input type="number" id="price" th:field="*{price}" required />

            <button type="submit">Opdater ønske</button>
        </form>

        <form th:action="@{/deleteWish}" method="post" class="modify-form">
            <input type="hidden" name="WishList_id" th:value="${wish.wishlist_id}" />
            <input type="hidden" name="wishId" th:value="${wish.id}" />
            <button type="submit" class="btn">Slet ønske</button>
        </form>
    </div>

    <div class="back-btn-container">
        <a th:href="@{/wishPage(WishList_id=${wish.wishlist_id})}" class="btn btn-back">Tilbage</a>
    </div>
</div>


<div class="footer">
    <p>Kontakt os!</p>
    <p>Gavelisten@stud.kea.dk</p>
</div>

</body>
</html>
