<!-- updateCar.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>MainPage</title>
  <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>

<div class="header">
  <div class="header-text">
    <a th:href="@{/}">
      <img th:src="@{'/img/Home_icon.JPG'}" id="icon" alt="Home Icon">
    </a>
    <h1>Gave listen</h1>
  </div>
</div>


<div class="container">
  <div class="form-container">
    <h2>Update WishList</h2>
    <form th:action="@{/saveUpdateWishList}" method="post">
      <input type="hidden" name="id" th:value="${wishList.id}" />

      <label for="id">id:</label>
      <input type="text" id="id" name="id" placeholder="Enter WishList id" th:value="${wishList.id}" required>

      <label for="user_id">user_id:</label>
      <input type="number" id="user_id" name="user_id" placeholder="Enter user_id" th:value="${wishList.user_id}" required>

      <label for="name">name:</label>
      <input type="name" id="name" name="name" placeholder="Enter name" th:value="${wishList.name}" required>

      <label for="img">img:</label>
      <input type="text" id="img" name="img" placeholder="Enter img" th:value="${wishList.img}" required>


      <button type="submit">Update wishlist</button>
    </form>
  </div>
</div>
<div class="footer">
  <p>Kontakt os!</p>
  <p>Gavelisten@stud.kea.dk</p>

</div>
</body>
</html>