<!-- Skal sendes til opret ønskeliste -->
<!-- Skal sendes til ønskeliste-->
<!-- Skal sendes til se venner -->
<!-- Kommer fra login  -->
<!-- Kommer fra createUser-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>MainPage</title>
  <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>

<div class="header">
  <div class="header-text">
    <a th:href="@{/}">
      <img th:src="@{'/img/Home_icon.JPG'}" id="icon" alt="Home Icon">
    </a>
    <h1>Gave listen</h1>
  </div>
</div>


<h1> Velkommen til dine venners ønsker!</h1>
<p1> Her kan du se alle dine venners ønskelister.</p1>
<div class="container">
  <div class="square" th:each="user : ${userList}" th:data-id="${user.id}">
    <div>
      <label>Name:</label>
      <span th:text="${user.name}">Name</span>
    </div>
  </div>
</div>
<form th:action="@{/showFriends_WishListbyUser_id}" method="get" class="modify-form" id="wishUpdateForm" style="display:none;">
  <input type="number" name="id" id="wishIdInput" required>
</form>
<script>
  // Attach click event listener to all square div elements
  document.querySelectorAll('.square').forEach(function(square) {
    square.addEventListener('click', function() {
      // Get the wish idea ID stored in the data-id attribute of the clicked square
      var wishId = this.getAttribute('data-id');

      // Set the value of the hidden input field in the form
      document.getElementById('wishIdInput').value = wishId;

      // Submit the form to trigger the backend action
      document.getElementById('wishUpdateForm').submit();
    });
  });
</script>

<div class="wish_holder">
  <a th:href="@{/friendsWishList}">
    <button type="submit" class="wish_btn">Se venners ønsker</button>
  </a>
</div>
</body>
</html>
