<!-- Skal sendes til opret ønskeliste -->
<!-- Skal sendes til ønskeliste-->
<!-- Skal sendes til se venner -->
<!-- Kommer fra login  -->
<!-- Kommer fra createUser-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>MainPage</title>
  <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>
<div class="header">
  <img th:src="@{'/img/Home_icon.JPG'}" id="icon" alt ="Home Icon">
</div>

<h1> Velkommen til userpage!</h1>
<div class="container">
  <div class="square" th:each="user : ${userList}">
    <div>
      <label>ID:</label>
      <span th:text="${user.id}">ID</span>
    </div>
    <div>
      <label>Name:</label>
      <span th:text="${user.name}">Name</span>
    </div>
    <div>
      <label>Password:</label>
      <span th:text="${user.password}">Password</span>
    </div>
  </div>
</div>


<div class="footer">
  <p>Kontakt os!</p>
  <p>Gavelisten@stud.kea.dk</p>

</div>
</body>
</html>
