<!-- Skal sendes til opret ønskeliste -->
<!-- Skal sendes til ønskeliste-->
<!-- Skal sendes til se venner -->
<!-- Kommer fra login  -->
<!-- Kommer fra createUser-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>MainPage</title>
  <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>

<div class="header">
  <div class="header-text">
    <a th:href="@{/}">
      <img th:src="@{'/img/Home_icon.JPG'}" id="icon" alt="Home Icon">
    </a>
    <h1>Gave listen</h1>
  </div>
</div>


<h1> Velkommen til userpage!</h1>
<div class="container">
  <div class="square" th:each="user : ${userList}">
    <div>
      <label>ID:</label>
      <span th:text="${user.id}">ID</span>
    </div>
    <div>
      <label>Name:</label>
      <span th:text="${user.name}">Name</span>
    </div>
    <div>
      <label>Password:</label>
      <span th:text="${user.password}">Password</span>
    </div>
  </div>
</div>


<div class="wish_holder">
  <a th:href="@{/friendWishPage}">
    <button type="submit" class="wish_btn">Se venners ønsker</button>
  </a>
</div>
</body>
</html>
