<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>wishlist</title>
    <link rel="stylesheet" th:href="@{style.css}">
    <link rel="stylesheet" th:href="@{baggrund.css}">


</head>
<body>

<div class="header">
    <div class="header-text">
        <a th:href="@{/}">
            <img th:src="@{'/img/gavehead.jpeg'}" id="icon" alt="Home Icon">
        </a>
        <h1>Gavelisten</h1>
    </div>
</div>
<h1 class="main-title" th:text="'Velkommen, ' + ${user.name} + '. Her ser du dine ønskelister.'">
    Velkommen, [Brugernavn]! Her ser du dine ønskelister.
</h1>

<div class="container">
    <div class="square" th:each="wishlist:${wishListing}" th:data-id="${wishlist.id}">
        <img th:src="@{'/img/'+${wishlist.img}}"alt="Wish image"/>
        <div>
            <span class="wishlist-name" th:text="${wishlist.name}">name</span>
        </div>
        <div class="buttons">
            <a th:href="@{/getUpdateWishList(id=${wishlist.id})}" class="btn">Rediger ønskeliste</a>
        </div>
</div>
</div>
<div class="buttons" th:if="${user.id != null}" th:data-id="${user.id}">
    <a th:href="@{/getCreateWishList(user_id=${user.id})}" class="btn_back">Lav ny ønskeliste</a>
    <a th:href="@{/userPage}" class="btn_friends">Se venner</a>
</div>


<form th:action="@{/showWishbyWishList_id}" method="get" class="modify-form" id="wishUpdateForm" style="display:none;">
    <input type="number" name="id" id="wishIdInput" required>
</form>
<script>
    // Attach click event listener to all square div elements
    document.querySelectorAll('.square').forEach(function(square) {
        square.addEventListener('click', function() {
            // Get the wish idea ID stored in the data-id attribute of the clicked square
            var wishId = this.getAttribute('data-id');

            // Set the value of the hidden input field in the form
            document.getElementById('wishIdInput').value = wishId;

            // Submit the form to trigger the backend action
            document.getElementById('wishUpdateForm').submit();
        });
    });
</script>

<div class="footer">
    <p>Kontakt os!</p>
    <p>Gavelisten@stud.kea.dk</p>

</div>
</body>
</html>
<!-- hello -->