<!-- KOPIER DETTE DOKUMENT TIL INDEX -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MainPage</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{style.css}">
</head>
<body>
<div class="container">
    <div class="square">
        <div>
            <label>ID:</label>
            <span>ID</span>
        </div>
        <div>
            <label>user_id:</label>
            <span>user_id</span>
        </div>
        <div>
            <label>Name:</label>
            <span>Name</span>
        </div>
        <div>
            <label>Img:</label>
            <span>Img</span>
        </div>
    </div>
</div>

</body>
</html>