<!-- KOPIER DETTE DOKUMENT TIL INDEX -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>MainPage</title>
    <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>

<div class="header">
    <a th:href="@{/}">
        <img th:src="@{'/img/Home_icon.JPG'}" id="icon" alt="Home Icon">
    </a>
</div>


<div>
            <label>id:</label>
            <span th:text="${wishList.id}">ID</span>
        </div>
        <div>
            <label>user_id:</label>
            <span th:text="${wishList.user_id}">user_id</span>
        </div>
        <div>
            <label>name:</label>
            <span th:text="${wishList.name}">name</span>
        </div>
        <div>
            <label>img:</label>
            <span th:text="${wishList.img}">img</span>
        </div>

</div>
</div>
<form th:action="@{/showWishbyWishList_id}" method="get" class="modify-form" id="wishUpdateForm" style="display:none;">
    <input type="number" name="id" id="wishIdInput" required>
</form>
<script>
    // Attach click event listener to all square div elements
    document.querySelectorAll('.square').forEach(function(square) {
        square.addEventListener('click', function() {
            // Get the wish idea ID stored in the data-id attribute of the clicked square
            var wishId = this.getAttribute('data-id');

            // Set the value of the hidden input field in the form
            document.getElementById('wishIdInput').value = wishId;

            // Submit the form to trigger the backend action
            document.getElementById('wishUpdateForm').submit();
        });
    });
</script>
<div class="buttons">
    <a th:href="@{/getCreateWishList}" class="btn">Create</a>
    <div class="modify-forms">
        <form th:action="@{/showWishList}" method="get" class="modify-form">
            <input type="number" name="id" placeholder="Enter WishList ID to read" required>
            <button type="submit" class="btn">Read</button>
        </form>

        <form th:action="@{/deleteWishList}" method="post" class="modify-form">
            <input type="number" name="id" placeholder="Enter WishList ID to delete" required>
            <button type="submit" class="btn">Delete</button>
        </form>

        <form th:action="@{/getUpdateWishList}" method="get" class="modify-form">
            <input type="number" name="id" placeholder="Enter WishList ID to update" required>
            <button type="submit" class="btn">Update</button>
        </form>
    </div>
</div>
<div class="footer">
    <p>Kontakt os!</p>
    <p>Gavelisten@stud.kea.dk</p>

</div>
</body>
</html>
<!-- hello -->