<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>wishPage</title>
    <link rel="stylesheet" th:href="@{style.css}">
    <link rel="stylesheet" th:href="@{baggrund.css}">
</head>
<body>

<div class="header">
    <div class="header-text">
        <a th:href="@{/}">
            <img th:src="@{'/img/Home_icon.JPG'}" id="icon" alt="Home Icon">
        </a>
        <h1>Gave listen</h1>
    </div>
</div>

<h1 class="main-title">Her ser du dine gaveønsker</h1>
<div class ="container">
    <div class="square" th:each="wish : ${wishes}" th:data-id="${wish.id}">
        <img th:src="@{'/img/' + ${wish.img}}" alt="Wish image"/>
        <div>
            <span th:text="${wish.name}">Name</span>
        </div>
        <div>
            <span th:text="${wish.description}">Description</span>
        </div>
        <div>
            <label>Pris:</label>
            <span th:text="${wish.price + ' DKK'}">Price</span>
        </div>

    </div>

</div>
<form th:action="@{/showWish}" method="get" class="modify-form" id="wishUpdateForm" style="display:none;">
    <input type="number" name="id" id="wishIdInput" required>
</form>

<div th:if="${not #lists.isEmpty(wishes)}"
     th:with="wish=${wishes[0]}">

    <div class="buttons" th:data-id="${wish.wishlist_id}">
        <a th:href="@{/getCreateWish(WishList_id=${wish.wishlist_id})}" class="btn">Opret ønske</a>
    </div>
</div>

<script>
    // Attach click event listener to all square div elements
    document.querySelectorAll('.square').forEach(function(square) {
        square.addEventListener('click', function() {
            // Get the wish idea ID stored in the data-id attribute of the clicked square
            var wishId = this.getAttribute('data-id');

            // Set the value of the hidden input field in the form
            document.getElementById('wishIdInput').value = wishId;

            // Submit the form to trigger the backend action
            document.getElementById('wishUpdateForm').submit();
        });
    });
</script>



<h1>Gave ideer:</h1>
<div class="container">
    <div class="square_none_hoover" th:each="wishidea : ${wishidealist}" th:data-id="${wishidea.id}">
        <div>
            <h4 th:text="${wishidea.title}">title</h4>
        </div>
        <div>
            <span th:text="${wishidea.description}">description</span>
        </div>
    </div>
</div>
<div th:if="${not #lists.isEmpty(wishes)}"
     th:with="wish=${wishes[0]}">

<a th:href="@{/login}" class="btn_back">Tilbage til login</a>
</div>
<div class="footer">
    <p>Kontakt os!</p>
    <p>Gavelisten@stud.kea.dk</p>

</div>
</body>
</html>